@import "_vars.scss";

.requisites {

    &__title {}

    &__wrapper {
        background-color: #fff;
        padding: 50px;
        border-radius: 10px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 800px;
        margin-bottom: 40px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    &__value {
        font-size: 16px;
        line-height: 18px;
    }

    &__btn {
        max-width: max-content;
    }
}

@media (max-width: 991px) {
    .requisites {

        &__title {}

        &__wrapper {
            padding: 0px 0px 15px 0px;
        }

        &__list {
            gap: 0px;
            max-width: none;
            margin-bottom: 20px;
        }

        &__row {
            padding: 10px 15px;
            gap: 40px;
            border-bottom: 1px solid #D7E4EA;
        }

        &__name {
            font-size: 13px;
            line-height: 15px;
        }

        &__value {
            font-size: 13px;
            line-height: 15px;
            text-align: right;
        }

        &__btn {
            margin-left: 15px;
            font-size: 14px;
            padding: 9px 22px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}